

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    /* outline: 5px solid rgba(255,0,0,0.3); */
}

body{
  background-color: rgb(0, 0, 0); 
  color: white;
  font-family: Helvetica, Arial, san-serif;
}

.hero {
    /* border: 1px solid red; */
    min-height: 70vh;
    height: auto;
    background: url(images/US-en-20220815-popsignuptwoweeks-perspective_alpha_website_large.jpg) center center/cover;
    position: relative;
    width:100%;
    display: flex;
    flex-direction: column;
}

.hero::after {
    content: '';
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, 0.5);
}

.hero header {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    z-index: 2;
    position: relative;
}
  

.hero header img {
    width: 160px;
}


.hero .text {
    position: relative;
    z-index: 2;
    width: 60%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
  }

.hero .text h1 {
    font-size:3rem;
    margin-bottom:1.5rem;
}

.hero .text h2 {
    font-size: 2rem;
    font-weight: 100;
    margin-bottom: 1.5rem
}

.hero .text h3 {
    font-size: 1.25rem;
    font-weight: 100;
    margin-bottom: 1rem

}


h1 {
  font-size: 3rem;
}

a {
  display: block;
  margin: 10px;
  text-decoration: none;
}

h1, h2, h3, h4, h5, p {
  margin: 10px;
}

section {
  background-color: rgb(0, 0, 0); 
  display: flex;
  height: 60vh;
  padding: 1%;
  border-bottom: 8px solid #222;
}

img {
  max-width: 100%;
  z-index: 2;
}

.videoing video {
  width: 75%;
  margin-left: -88%;
  margin-top: -4%;
  z-index: 1;
}

.videoing {
  align-items: center;
  display: flex;
}

.overlay {
  align-items: center;
  display: flex;
}

.downloading {
  align-items: center;
  background-color: #000;
  padding: 8px;
  border: 2px solid #333;
  border-radius: .75em;
  width: 55%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  margin-left: -78%;
  margin-top: 60%;
  z-index: 20;
  font-size: 0.9em;
  text-align: center;
}

.downloading img {
  width: 20%;
  margin: auto 1%;
}

.downloading p {
  margin: 1%;
}

.block {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.blue {
  color: blue;
}


.video2 {
  align-items: center;
  display: flex;
}


.video2 video {
  width: 61%;
  margin-left: -81%;
  margin-top: -30%;
  z-index: 1;
}

.btn {
  background-color: #e50914;
  background-image: linear-gradient(180deg, #e50914, #de0510);
  padding: 7px 17px;
  color: white;
  text-align: center;
  border-radius: 2px;
}

.email {
  width: 100%;
  display: flex;
  margin: 10px;
}

.email-input {
  margin: 10px 0;
}

.email input {
  width: 100%;
  padding: 10px 10px 0;
  font-size: 1.625rem;
  border-radius: 2px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  appearance: none;
  border: 1px solid #8c8c8c;
}

.email a {
  width: 30%;
}

.part {
   width: 60%;
   text-align: center;
}

.hero .button {
  display: inline-flex;
}

.black {
  background: rgba(0,0,0, 0.5);
  border: white 1px solid;
  width: auto;
  padding: 5px;
  margin: auto;
}


.start {
  margin-left: 0px;
  font-size: 1.625rem;
  min-height: 60px;
  line-height: 60px;
  min-width: 200px;
  box-shadow: 0 1px 0 rgb(0 0 0 /45%);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 1px solid #333;
}

.left, .right{
  flex-basis: 40%;
  padding: 1em;
  margin: auto 0;
}

.right-text, .left-text {
  flex-basis: 60%;
  padding: 1em;
  margin: auto 0;
}

.faq {
    display:flex;
    flex-direction: column;
  align-items: center;
  height: auto;
}

.faq li button {
  display: block;
  width: 100%;
  padding: 1%;
}

.faq li button h3 {
  text-align: left;
  cursor: pointer;
}

span {
  float: right;
}

.faq-list {
  display:flex;
  flex-direction: column;
  align-items: center;
}


.inside {
  max-height: 400px;
  overflow: hidden;
  transition: all 0.5s ease-out;
  border-top: 2px solid black;
}

.inside.closed {
  max-height: 0;
  border: none;
}


.faq-question {
  background: #222;
  width: 100%;
  color: white;
  font-size: 1.2em;
}

.plus {
  transform: rotate(-45deg);
}


.list-item {
  list-style: none;
  width: 60%;
  background: #222;
  color: white;
  margin: 7px;
  justify-content: space-between;
  font-size: 1.25em;
}



.bottom {
  max-width: 1100px;
  margin: 0 auto;
}


.english {
  width: 24%;
  margin-left: 0;
  margin-bottom: 10px;
}

.centered-content {
  text-align: center;
}

footer ul {
  list-style: none;
}

footer .footer-link-item {
  display: inline-block;
  width: 24.5%;
}

footer .footer-link-item a {
  padding: 5px;
  color: #737373;
  text-decoration: none;
}

@media (min-width: 716px) and (max-width:768px) {
  .video2 video {
    width: 56%;
    margin-left: -74.5%;
    margin-top: -27%;
  }
  
  .videoing video {
    width: 69%;
    margin-left: -81%;
    margin-top: -4%;
  }
}


@media (min-width: 768px) and (max-width:1068px) {
  .downloading {
    font-size: 0.75em;
  }
}


@media (max-width: 768px) {
  section {
    height: auto;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
  }

  section .right-text {
    order: 1;
  }

  section .left {
    order: 2;
  }

  h1 {
    font-size: 2rem;
  }

  .hero {
    height: auto;
  }

  .hero .text h1 {
    font-size:2rem;
}
  .hero .text h2 {
    font-size:1.8rem;
}


  .gray {
    width: 85%;
    font-size: 1em;
  }

  .faq li button h3 {
    font-size: 0.65em;
  }

  .inside {
    width: 85%;
    font-size: 1em;
  }

  .email {
    display: block;
    margin: auto;
  }

  .email input {
    font-size: 1.2rem;
    padding-bottom: 5px;
  }
  .start {
    margin: 7px auto;
    font-size: 1.2rem;
    min-height: 30px;
    line-height: 30px;
    min-width: 150px;
  }
  footer .footer-link-item {
    width: 32.5%;
  }


}